/* flex-grow — определяет, сколько свободного места в контейнере переходит к элементу; */
/* flex-shrink — определяет, насколько будет сокращаться элемент, когда для всего не будет достаточно места; */
/* flex-basis — размер для элемента, установленный по умолчанию. */
html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

#header {
    /* 0 flex-grow, 0 flex-shrink, auto flex-basis */
    flex: 0 0 auto;
}

#main-content {
    /* 1 flex-grow, 0 flex-shrink, auto flex-basis */
    flex: 1 0 auto;
}

#footer {
    /* 0 flex-grow, 0 flex-shrink, auto flex-basis */
    flex: 0 0 auto;
}